.scramble {
  font-size: 2rem;
  word-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: "Roboto Mono", monospace;
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnim 0.7s ease forwards;
}

@keyframes fadeInAnim {
  to {
    opacity: 1;
  }
}
