.options {
  position: absolute;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.lockButton {
  transition: color 0.3s ease;
}

.lockButton svg,
.lockButton.unlocked svg,
.lockButton.locked svg {
  transition: stroke 0.2s ease;
}

.lockButton.unlocked svg {
  stroke: var(--text);
}

.lockButton.locked svg {
  stroke: var(--red);
}

.rotateIcon {
  transform-origin: 50% 50%;
  display: block;
  margin: auto;
  width: 2rem;
  height: 2rem;
}
