.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.timer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background: purple; */
  height: 45rem;
  width: 100%;
  margin: 0;
}
