body {
  margin: 0;
  font-family: sans-serif;
}

.app-layout {
  display: flex;
  min-height: 100vh;
  background: var(--bg-dark-0);
}

.main-content {
  flex-grow: 1;
  padding: 1.5rem;
  box-sizing: border-box;
}
