.container {
  width: 100%;
  height: 100%;
  margin-left: 1rem;
  border-radius: 1.5rem;
  background-color: var(--dark-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  transition: all 0.2s ease;
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnim 0.7s ease forwards;
}

@keyframes fadeInAnim {
  to {
    opacity: 1;
  }
}
