.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--text);
  border: none;
  cursor: pointer;
  background: none;
  margin: 0;
  transition: all 0.1s;
}

.noSpacing {
  padding: 0;
  font-size: 1.55rem;
}

.compact {
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
}

.medium {
  padding: 1rem 1.25rem;
  font-size: 1.75rem;
}

.large {
  padding: 1.25rem 1.5rem;
  font-size: 2rem;
}

.button:focus-visible {
  outline: none;
}

.button:hover .icon {
  stroke: var(--text);
}

.rotate {
  animation:
    rotate 0.3s ease-in-out,
    shrink 0.3s ease-in-out;
}

.shrink {
  animation: shrink 0.2s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shrink {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
