.container {
  width: 28rem;
  background-color: var(--color-primary-dark-2);
  margin: 1.5rem;
  margin-right: 0.5rem;
  padding: 20px;
  border-radius: 1.5rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

.title {
  margin-top: 0;
  color: var(--color-white);
  font-size: 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

li {
  position: relative;
  display: inline-flex;
  padding: 0.25rem 0.25rem 0.25rem 3rem;
  line-height: 1.6;
  cursor: pointer;
  transition:
    padding-left 0.15s ease,
    color 0.15s ease;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
}

li::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background-color: var(--color-white);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
  transition:
    transform 0.15s ease,
    background-color 0.15s ease;
}

li:hover {
  padding-left: 3.5rem;
  color: var(--color-accent-green-0);
}

li:hover::before {
  transform: translateY(-50%) rotate(135deg) scale(1.2);
  background-color: var(--color-accent-green-0);
}

li a:link,
li a:visited,
li a:hover,
li a:active {
  color: inherit;
  text-decoration: none;
}

li a {
  display: inline-block;
  transform-origin: center;
  transition:
    transform 0.15s ease-out,
    color 0.15s ease-out;
}
