.sidebar {
  width: 28rem;
  background-color: var(--dark-1);
  margin: 1.5rem;
  margin-right: 0.5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

h2 {
  margin: 0;
  color: var(--color-white);
  font-size: 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

.listItem {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.125s ease;
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--text);
  font-weight: 350;
  border-radius: 0.5rem;
}

.listItem:hover {
  color: var(--green-1);
  background-color: var(--dark-4);
}

.listItem a:link,
.listItem a:visited,
.listItem a:hover,
.listItem a:active {
  color: inherit;
  text-decoration: none;
}

.listItem a {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  width: 100%;
  box-sizing: border-box;
  transform-origin: center;
  transition:
    transform 0.125s ease-out,
    color 0.125s ease-out,
    padding-left 0.125s ease;
}

.listItem:hover a {
  padding-left: 1.5rem;
}

.listItem a :global(svg) {
  width: 2.25rem;
  height: 2.25rem;
  transition: all 0.125s ease-out;
}

.listItem:hover a :global(svg) {
  opacity: 1;
}

.listItem a :global(svg path) {
  transition: fill 0.15s ease-out;
}
